# --- Dados (NUNCA enviar para o GitHub) ---
data/
*.zip
*.csv
*.xlsx
*.pdf

# --- Python ---
__pycache__/
*.pyc
venv/
.env
.pytest_cache/

# --- IDEs e Sistema ---
.vscode/
.idea/
.DS_Store

# --- Outros ---
node_modules/